body {
  color: #333;
  background-color: #f8f8f8;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  opacity: 0.8;
  cursor: pointer;
}

header {
  width: 100%;
  height: 80px;
}

.header-left {
  float: left;
  font-size: 24px;
  margin: 15px, 0;
}

.header-title h1 {
  font-size: 20px;
  cursor: pointer;
  margin-bottom: 0;
}

.header-left p {
  font-size: 12px;
  color: rgb(155, 154, 154);
  margin-top: 0;
}

.header-right {
  float: right;
  font-size: 14px;
  line-height: 50px;
  margin-top: 0;
}

ul {
  list-style: none;
}

.header-right ul li {
  display: inline;
  margin-left: 14px;
}

.contact-form {
  padding:10px 15px;
  border: solid 2px;
  border-color: blue;
  border-radius: 20px;
  display: block;
}

#top-img {
  width: 1024px;
  height: 360px;
}

.top-wrapper {
  height: 360px;
  background-color: rgb(211, 217, 221);
  text-align: center;
}

.main {
  height: 750px;
}

.contents-title {
  margin-top: 30px;
  font-size: 24px;
}

.contents-wrapper {
  height: 680px;
  margin-bottom: 20px;
}

.content {
  border: solid 1px;
  border-color: rgb(211, 217, 221);
  float: left;
  width: 32%;
  margin-top: 10px;
  margin-right: 10px;
}

.content img {
  width: 100%;
}

.content h2 {
  font-size: 24px;
  margin: 0;
}

.content p {
  margin-top: 8px;
  font-size: 12px;
  color: gray;
}

.discription {
  padding: 10px;
}

.show-more {
  clear: left;
  width: 300px;
  margin: 20px auto;
  text-align: center;
  background-color: blue;
  color: white;
  border-radius: 40px;
}

.btn {
  padding: 8px 16px;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.8;
}

.main-bottom {
  height: 60px;
  margin: 10px;
}

.move-to-top {
  float: right;
  border: solid 2px;
  border-color: rgb(211, 217, 221);
  border-radius: 4px;
  font-size: 18px;
  display: block;
  padding: 10px;
  color: blue;
}

.bottom-menu {
  width: 100%;
  height: 60px;
  background-color: rgb(212, 212, 212);
  margin-bottom: 0;
  line-height: 60px;
  color:gray;
}

.bottom-menu ul li {
  display: inline;
}

footer {
  width: 100%;
  height: 60px;
  background-color: #333;
  color: gray;
  margin-top: 0;
}

.footer-left {
  float: left;
  line-height: 20px;
  font-size: 12px;
}

.footer-right ul li {
  display: inline;
  margin-right: 8px;
  font-size: 20px;
}

.footer-right{
 float: right;
 line-height: 20px;
}

/* アイコン */
.fab {
  margin-right: 5px;
  color: gray;
}

@media only screen and (max-width: 600px) {
  .content {
   float: none;  
  }
}